%h1 Beers
%p 
  .list-group
    - Beer.all.each do |beer|
      %a.list-group-item
        %h4 #{beer.name} 
        %p #{beer.description}
        = link_to '',edit_beer_path(id: beer.id), class: "fa fa-edit"
        / should add an alert, but not as a message box but as an alert box, and for now I will leave it alone. 
        = link_to '', beer , class: "fa fa-trash", method: :delete #, data: { confirm: 'Are you sure?' } 
        = link_to '',archive_beers_path(id: beer.id), class: "fa fa-archive"
  = link_to "Add Beer", new_beer_path, class: "btn btn-primary btn-lg"